@import '../../required/variables.scss';
@import '../../required/colors.scss';

.project {
  align-items: center;
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
  justify-content: center;
  height: 45vh;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;

  &:nth-child(1) {
    background-color: $color-pink;
  }

  &:nth-child(2) {
    background-color: $color-orange;
  }

  &:hover {
    .project--title {
      animation: fadeIn 0.6s forwards;
    }
  }

  &--list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 0 16vh;
    padding: 0;

    a {
      display: block;
      height: 100%;
      opacity: 1;
      position: absolute;
      text-decoration: none;
      transition: opacity 0.6s ease-in;
      width: 100%;

      &:hover {
        opacity: 0.7;
      }

      img {
        bottom: 0;
        left: 0;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
        padding: $space-xxl;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  &--title {
    background: $color-white;
    color: $color-black;
    font-size: $font-lg;
    margin: 0;
    opacity: 0;
    padding: $space-sm;
    text-align: center;
  }
}

// Animation
@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
