@import '../../required/variables.scss';
@import '../../required/colors.scss';

.project {
  align-items: center;
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  margin: 0 $space-xxl $space-xxl 0;
  height: 35rem;
  min-width: 15rem;
  padding: 0;
  position: relative;
  text-decoration: none;
  overflow:hidden;

  &:nth-child(4n+1) {
    width: 25rem;
  }

  &:nth-child(4n+2) {
    width: 32.5rem;
  }

  &:nth-child(4n+3) {
    width: 18rem;
  }

  &:nth-child(4n+4) {
    width: 38rem;
  }

  div {
    height: 100%;
    width: 100%;
    background: white;
    position: absolute;
    z-index: 1;
    opacity: 0.85;
    visibility: hidden;

    h1 {
    position: absolute;
    top: 32px;
    left: 32px;
    font-size: 20px;
    color: black;
    font-weight: 100;
    }
  }

  &:hover {
    // animation: float 400ms ease-in-out forwards;
    // animation-delay: 100ms;

    div {
      border-bottom: 0.5rem solid $color-purple;
      visibility: visible;
    }
  }

  &--article {
    height: 100%;
    width: 100%;
  }

  &--body {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    opacity: 0;
  }

  &--list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 0 16vh;
    padding: 0;
  }

  &--link {
    height: 100%;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &--title {
    background: $color-white;
    color: $color-black;
    font-size: $font-lg;
    margin: 0;
    opacity: 0;
    padding: $space-sm;
    text-align: center;
    text-decoration: none;
  }
}

// Animation
@keyframes float {
  0% {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
    transform: translatey(0px);
  }
  100% {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
    transform: translatey(-15px);
  }
}