@import '../../required/variables.scss';
@import '../../required/colors.scss';

///
/// Project
///
/// Index
/// % ln-project
///   @ ln-project__article
///   @ ln-project__list
///   @ ln-project__link
///

/// .ln-project
.ln-project {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  margin: 0 $space-xxl ($space-xxxl*2) 0; // 0 2.4rem 6.4rem 0
  min-width: 15rem;
  padding: 0;
  position: relative;
  text-decoration: none;

  &:nth-child(4n+1) {
    width: 30rem;
  }

  &:nth-child(4n+2) {
    width: 30rem;
  }

  &:nth-child(4n+3) {
    width: 50rem;
  }

  &:nth-child(4n+4) {
    width: 38rem;
    flex: 0 0 50%;
  }

  /// .ln-project__article
  &__article {
    height: 100%;
    width: 100%;
  }

  /// .ln-project__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /// .ln-project__link
  &__link {
    height: 100%;
    margin-bottom: $space-sm;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  /// .ln-project__description
  &__description {
    text-align: center;

    > h3 {
      font-size: 1.6rem;
      font-weight: bold;
    }
  }
}