@import '../../required/variables.scss';
@import '../../required/mixins.scss';
@import '../../required/colors.scss';

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: ($space-xxxl * 2) ($space-xxxl * 6) 0;
  width: 100%;

  &__mobile {
    opacity: 1;

  &__hidden {
      opacity: 0;
    }
  }

  &--icon {
    height: 2rem;
    width: 2.5rem;
  }

  &--bars {
    height: 2rem;
    width: 2.5rem;
    position: relative;
  }

  &--bar{
    background: $color-black;
    width: 2.4rem;
    height: 0.2rem;
    position: absolute;

    &__1 {
      transition: all 200ms ease-in;

      &__rotated {
        transform: rotate(45deg);
        top: 0.8rem;
      }
    }

    &__2 {
      top: 0.8rem;
      transition: all 200ms ease-in;

      &__expanded {
        top: -65px;
        left: -500px;
        height: 100vh;
        width: 100vw;
        background: $color-purple;
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__3 {
      top: 1.6rem;
      transition: all 200ms ease-in;

      &__rotated {
        top: 0.8rem;
        transform: rotate(-45deg);
      }
    }

  }

  &--list {
    @include reset;
    list-style: none;
  }

  &--link {
    display: inline-block;
    margin: 0 $space-xxxl 0 0;

    &:last-child {
      a {
        font-weight: bold;
      }
    }
  }
}
