@import '../../required/variables.scss';
@import '../../required/mixins.scss';
@import '../../required/colors.scss';

///
/// Navigation
///
/// Index
/// % ln-nav
///   @ -contrast
///   @ ln-nav-logo
///   @ ln-nav-list
///   @ ln-nav-list-item
///   @ ln-nav-icon
///   @ ln-nav-bars
///
/// Media Queries
///

/// .ln-nav
.ln-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: ($space-xxxl * 2) ($space-xxxl * 6) 0; // 6.4rem 19.2rem 0
  width: 100%;

  /// .ln-nav .-contrast
  &.-contrast {
    background: $color-pink;
  }

  /// .ln-nav-logo
  &-logo {
    height: ($space-xxxl * 2); // 6.4rem
    width: ($space-xxxl * 2); // 6.4rem
  }

  /// .ln-nav-list
  &-list {
    @include reset;
    list-style: none;

    .open & {
      display: block;
    }
    
    /// .ln-nav-list-item
    &-item {
      display: inline-block;
      margin: 0 $space-xxxl 0 0;

      .open & {
        display: block;
        text-align: right;

        a {
          font-size: $font-xl;
        }

        &:last-child {
          a {
            font-weight: 100;
          }
        }
      }
    }
  }

  /// .ln-nav-bg
  &-bg {
    align-items: center;
    background-color: $color-white;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    right: -100%;
    top: 0;
    transition: 500ms;
    visibility: hidden;
    width: 100%;
    z-index: 1;
    
    .open & {
      right: 0;
      transition: 500ms;
      visibility: visible;
    }
  }
  
  /// .ln-nav-icon
  &-icon {
    height: $space-xl;
    width: $space-xxl + $space-base; // 2.5rem
  }

  /// .ln-nav-bars
  &-bars {
    height: $space-xl;
    width: $space-xxl + $space-base; // 2.5rem
    position: relative;
    z-index: 9;

    &::before,
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: $color-gray;
      transition: top 0.3s 0.3s, bottom 0.3s 0.3s;
      transition: transform 0.3s, top 0.3s 0.3s, bottom 0.3s 0.3s;
      transition: transform 0.3s, top 0.3s 0.3s, bottom 0.3s 0.3s;
    }

    &::before {
      top: $space-base;
    }

    &::after {
      bottom: $space-base;
    }

    > span {
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      top: 50%;
      background-color: $color-gray;
      transform: translate(0, -50%);
      transition: opacity 0.3s 0.3s;
    }

    .open & {
      position: fixed; 

      > span {
        opacity: 0;
        transition: opacity 0.3s;
      }

      &::before,
      &::after {
        background-color: $color-teal;
        transition: top 0.3s, bottom 0.3s, transform 0.3s 0.3s;
      }

      &::before {
        top: calc(50% - 1px);
        transform: rotate(45deg);
      }

      &::after {
        bottom: calc(50% - 1px);
        transform: rotate(-45deg);
      }
    }
  }
}

// MEDIA QUERIES
@media only screen and (max-width: 1200px) {
  .ln-nav {
    padding: $space-xxl * 2; // 4.8rem
  }
}

@media only screen and (max-width: 870px) {
  .ln-nav {
    padding: $space-xl;

    &-logo {
      height: ($space-xxl * 2); // 4rem
      width: ($space-xxl * 2); // 4rem
    }

    &-list {
      display: none;
    }
  }
}

