@import '../../required/variables.scss';
@import '../../required/mixins.scss';
@import '../../required/colors.scss';

///
/// Navigation
///
/// Index
/// % ln-nav
///   @ ln-nav--mobile
///   @ ln-nav--hidden
///   @ ln-nav__list
///   @ ln-nav__list__item
///   @ ln-nav__icon
///   @ ln-nav__bars
///   @ ln-nav__bar
///   @ ln-nav__bar--1
///   @ ln-nav__bar--1--rotated
///   @ ln-nav__bar--2
///   @ ln-nav__bar--2--expanded
///   @ ln-nav__bar--3
///   @ ln-nav__bar--3--rotated
///

.ln-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: ($space-xxxl * 2) ($space-xxxl * 6) 0;
  width: 100%;

  &--mobile {
    opacity: 1;

  &--hidden {
      opacity: 0;
    }
  }

  &__list {
    @include reset;
    list-style: none;
   
    &__item {
      display: inline-block;
      margin: 0 $space-xxxl 0 0;

      &:last-child {
        a {
          font-weight: bold;
        }
      }
    }
  }

  &__icon {
    height: $space-xl;
    width: $space-xxl + $space-base; // 2.5rem
  }

  &__bars {
    display: flex;
    justify-content: center;
    height: $space-xl;
    width: $space-xxl + $space-base; // 2.5rem
    position: relative;
  }

  &__bar{
    background: $color-black;
    width: $space-xxl;
    height: $space-xs/2; // 0.2rem
    position: absolute;

    &--1 {
      transition: all 200ms ease-in;

      &--slide {
        transform: translateY($space-sm);
      }
    }

    &--2 {
      top: $space-sm;
      transition: all 200ms ease-in;

      &--expanded {
        top: -6.5rem;
        left: -50rem;
        height: 100vh;
        width: 100vw;
        background: $color-purple;
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &--3 {
      top: 1.6rem;
      transition: all 200ms ease-in;

      &--slide {
        transform: translateY(-$space-sm);
      }
    }

  }
}

/// Mobile
@media only screen and (max-width: 870px) {
  .ln-nav {
    padding: ($space-xxxl * 2) 5rem 0;
  }
}