@import '../../required/colors.scss';
@import '../../required/variables.scss';
@import '../../required/mixins.scss';

///
/// Bio
///
/// Index
/// % ln-bio
///   @ ln-bio__punchline
///   @ ln-bio__info
///
/// Animation
/// % animated
/// % animatedFadeInUp
/// % fadeInUp
///

/// .ln-bio
.ln-bio {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	position: relative;
	width: 100%;

	img {
		margin-bottom: 1rem;
	}

	/// .ln-bio__punchline
	&__punchline {
		@include reset;
		margin: 0 0 1rem;
		text-align: center;
	}

	/// .ln-bio__info
	&__info {
		@include reset;
		margin: 0 0 1rem;
		text-align: center;

		> span {
			padding: 0 $space-xl;
		}
	} 
}

/// ANIMATIONS

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
	opacity: 0;
	animation-name: fadeInUp;
}

@keyframes fadeInUp {
    from {
      transform: translate3d(0,4rem,0)
    }

    to {
			transform: translate3d(0,0,0);
			opacity: 1
    }

 }