@import '../../required/colors.scss';
@import '../../required/variables.scss';
@import '../../required/mixins.scss';

.header {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	width: 100%;

	&--description {
		@include reset;
		font-size: $font-md *2;
		font-weight: 100;
		line-height: 6rem;
		margin: 0 0 1rem;
	}

	&--small-description {
		@include reset;
		font-size: $font-lg;
		line-height: 3.6rem;
		margin: 0 0 2rem;
	}

	&--status {
		align-self: flex-start;
		border: 0.2rem solid $color-black;
		font-size: $space-lg;
		display: inline-block;
		padding: $space-lg;
	}
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }

 }

    .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
