// Color Palette
$color-black: #000000;
$color-white: #FFFFFF;
$color-gray: #3A414A;
$color-light-gray: #C9C9C9;

$color-yellow: #FED149;
$color-orange: #F98371;
$color-pink: #FFBAD7;
$color-purple: #F5ADA3;
$color-teal: #2FD8C4;
