// Color Palette
$color-black: #000000;
$color-text: #0A3055;
$color-gray: #3A414A;
$color-light-gray: #C9C9C9;
$color-orange: #F98371;
$color-pink: #FFEEEE;
$color-purple: #F5ADA3;
$color-teal: #019875;
$color-white: #FFFFFF;
$color-yellow: #FED149;
