@import '../../required/variables.scss';
@import '../../required/mixins.scss';
@import '../../required/colors.scss';

.section {
  display: block;
  min-height: 50.0rem;
  padding: 0 ($space-xxxl * 6) 0;
  position: relative;

  &__hero {
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: center;
  }

  &__about {
    background-position: center;
  }

  &--header {
    align-items: center;
    display: flex;
    margin: 0 0 $space-xxl;

    .section--title {
      margin: 0;
    }
  }

  &--title {
    @include reset;
    font-size: $font-xl;
    letter-spacing: $space-base;
    margin: 0 0 $space-xxl;

    &::before {
      background: $color-purple;
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: $space-xs;
      height: $space-xxxl;
      margin-right: $space-md;
    }
  }

  &--background {
    background-color: $color-yellow;
    height: 40%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}
