@import '../../required/variables.scss';
@import '../../required/mixins.scss';
@import '../../required/colors.scss';

///
/// Section
///
/// Index
/// % ln-nav
///   @ ln-section--hero
///   @ ln-section--about
///   @ ln-section__list
///   @ ln-section__position
///   @ ln-section__period
///   @ ln-section__title
///   @ ln-section__project--title
///   @ ln-section__summary
///   @ ln-section__body
///   @ ln-section__display
///   @ ln-section__display-container
///

.ln-line {
  display: inline-block;
    background-color: #AFAFAF;
    height: 2px;
    width: 60px;
    margin-right: 10px;
    vertical-align: middle;
}

/// .ln-section
.ln-section {
  display: block;
  min-height: 50rem;
  padding: 10rem ($space-xxxl * 6) 10rem; // 10rem 19.2rem 10rem
  position: relative;

  &__project {
    padding: $space-xxl ($space-xxl * 20);
  }

  &__gallery {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__banner {
    width: 100%;
    height: auto;
    position: relative;
    padding: 6rem 0 0;

    > img {
      width: 100%;
      object-fit: contain;
    }
  }

  &:first-of-type{
    padding-top: $space-xxl;
  }

  &#work {
    background: $color-white;
  }

  /// .ln-section--hero
  &--hero {
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: center;
  }

  /// .ln-section__title
  &__heading {
    @include reset;
    font-family: 'Hind', sans-serif;
    font-size: $font-lg;
    font-weight: 700;
    letter-spacing: $space-base;
    margin: 0 0 $space-xl;

    &::before{
      content: "";
      display: inline-block;
      background-color: #54d9be;
      height: 0.4rem;
      width: $space-xxl;
      margin-right: 10px;
      vertical-align: middle;
    }

    /// .ln-section__title--project
    &--project {
      font-size: $font-xxl;
      font-weight: 500;
      margin: 0 0 $space-lg;

      &::before {
        content: none;
      }
    }
  }

  /// .ln-section__summary
  &__summary {
    margin-bottom: $space-xxxl;
  }

  &__bigquote {
    font-family: 'Hind', sans-serif;
    font-size: $space-xxl;
    font-weight: 700;
    text-align: center;
  }

  &__bigheading {
    font-family: 'Hind', sans-serif;
    font-size: $font-lg * 2;
    font-weight: 700;
    text-align: center;
  }

  /// .ln-section__body
  &__body {
    img {
      padding: ($space-xl * 2) 0; // 4rem 0
      width: 100%;
    }
  }
}

/// Mobile
@media only screen and (max-width: 1200px) {
  .ln-section {
    padding: 10rem;

    &__display {
      align-items: baseline;
      flex-direction: column-reverse;

      > img {
        flex: 0 0 100%;
        width: 100%;
      }

      &-container {
        margin-top: $space-xxxl;
      }
    }
  }
}

@media only screen and (max-width: 870px) {
    .ln-section {
      padding: 10rem 5rem 10rem;
    }
}