@import '../../required/variables.scss';
@import '../../required/mixins.scss';
@import '../../required/colors.scss';
///
/// Section
///
/// Index
/// % ln-nav
///   @ ln-section--hero
///   @ ln-section--about
///   @ ln-section__list
///   @ ln-section__position
///   @ ln-section__period
///   @ ln-section__title
///   @ ln-section__project--title
///   @ ln-section__summary
///   @ ln-section__body
///   @ ln-section__display
///   @ ln-section__display-container
///

/// .ln-section
.ln-section {
  background: $color-white;
  display: block;
  min-height: 50rem;
  padding: 10rem ($space-xxxl * 6) 10rem; // 10rem 19.2rem 10rem
  position: relative;

  /// .ln-section .-hero
  &.-hero {
    align-items: center;
    background: $color-pink;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    position: relative;
  }

  /// .ln-section -.project
  &.-project {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: auto;
    padding: 0 ($space-xxl * 18) ($space-xl * 2);
  }

  /// .ln-section -.gallery
  &.-gallery {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: auto;
    padding: 0 ($space-xxxl * 6);
  }

  /// .ln-section-description
  &-description {
    align-items:center;
    border: $space-sm/2 solid $color-teal;
    display: flex;
    font-size: $font-md;
    justify-content: center;
    min-width: 40rem;
    padding: $space-xxl;

    tr {
      > td {        
        &:first-of-type {
          font-weight: bold;
          padding: 0 ($space-xxxl * 2) 0 0;
        }
      }
    }
  }

  /// .ln-section-banner
  &-banner {
    background: no-repeat center/cover url('../../images/design-system-banner.svg');
    height: 50rem;
    margin: 2rem 0 0;
  }

  /// .ln-section__body
  &-body {
    min-width: $space-xxl * 30;
    img {
      padding: 0 0 ($space-xl * 2); // 0 0 4rem
      width: 100%;
    }
  }

  /// .ln-section-heading
  &-heading {
    @include reset;
    font-family: 'Hind', sans-serif;
    font-size: $font-lg;
    font-weight: 700;
    letter-spacing: $space-base;
    margin: 0 0 $space-xl;

    &::before{
      content: "";
      display: inline-block;
      background-color: $color-teal;
      height: 0.4rem;
      width: $space-xxl;
      margin-right: 10px;
      vertical-align: middle;
    }

    /// .ln-section-heading .-project
    &.-project {
      font-size: $font-xxl;
      font-weight: 500;
      margin: 0 0 $space-lg;

      &::before {
        content: none;
      }
    }
  }

  &__title {
    font-family: 'Hind', sans-serif;
    font-size: $font-lg * 2;
    font-weight: 700;
    padding: ($space-xl * 2) 0;
    text-align: center;
  }

  &-quote {
    font-family: 'Hind', sans-serif;
    font-size: $space-xxl;
    font-weight: 700;
    text-align: center;
    padding: ($space-xl * 2) 0 0;
  }
}

// Mobile
@media only screen and (max-width: 1200px) {
  .ln-section {
    padding: 10rem;

    &.-project {
      padding: 0 10rem 5rem;
    }

    &-body {
      min-width: auto;
    }

    &__display {
      align-items: baseline;
      flex-direction: column-reverse;

      > img {
        flex: 0 0 100%;
        width: 100%;
      }

      &-container {
        margin-top: $space-xxxl;
      }
    }
  }
}

@media only screen and (max-width: 870px) {
  .ln-section {
    padding: 5rem;

    &.-hero {
      height: auto;
    }

    &.-project {
      padding: 0 5rem 5rem;
    }

    &.-gallery {
      padding: 0;
    }

    &-banner {
      margin: 0;
    }

    &-body {
      min-width: auto;
    }

    &__title {
      font-size: 3.2rem;
      padding: 4rem 5rem 4rem;
      text-align: left;
    }
  }
}