@import '../../required/variables.scss';
@import '../../required/mixins.scss';
@import '../../required/colors.scss';

///
/// Footer
///
/// Index
/// % ln-footer
///   @ ln-footer-container
///   @ ln-footer-content
///   @ ln-footer-heading
///   @ ln-footer-list
///   @ ln-footer-list-item
///   @ ln-footer-bio
///
/// Media Queries
///

/// .ln-footer
.ln-footer {
	background: $color-pink;
	bottom: 0;
	display: flex;
	padding: ($space-sm * 10) ($space-xxxl * 6) ($space-sm * 10); // 8rem 19.2rem 8rem
	z-index: 1;

	/// .ln-footer-container
	&-container {
		display: flex;
		flex: 1 1 50%;
		justify-content: flex-start;
		padding-right: ($space-sm * 10); // 8rem

		&:last-child {
			flex-direction: row;
			justify-content: flex-end;
			padding-right: 0;
		}
	}

	/// .ln-footer-content
	&-content {
		> img {
			margin-bottom: $space-xxl;
			width: fit-content;
		}
		
		> p {
			margin-bottom: $space-xxl;
		}
	}

	/// .ln-footer-heading
	&-heading {
		font-family: 'Hind', sans-serif;
		font-weight: 700;
		font-size: $font-lg;
		margin-bottom: $space-xxl;
		
		> span {
			color: $color-teal;
		}
	}

	/// .ln-footer-list
	&-list {
		@include reset;
		list-style: none;
		padding-right: ($space-xl * 2); // 4rem

		/// .ln-footer-list-item
		&-item {
			margin-bottom: $space-xs;
		}
	}

	/// .ln-footer-bio
	&-bio {
		align-items: center;
		display: flex;
		margin-bottom: $space-xxl;
		max-width: 50rem; 
		min-width: $space-xl * 2; // 20rem
	}
}


/// MEDIA QUERIES
@media only screen and (max-width: 1024px) {
	.ln-footer {
		flex-direction: column;
		padding: ($space-sm * 10) $space-md ($space-sm * 10); // 8rem 1.2rem 8rem

		&-list {
			padding: 0 0 $space-xxl;
		}

		&-container {
			align-items: center;
			flex-direction: column;
			padding: 0 0 $space-xxl;
			text-align: center;

			&:last-child {
				flex-direction: column;
				padding: 0;
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	.ln-footer {
		padding: ($space-xxl * 2); // 4.8rem
	}
}
