@import '../../required/variables.scss';
@import '../../required/mixins.scss';
@import '../../required/colors.scss';

///
/// Footer
///
/// Index
/// % ln-footer
///   @ ln-footer__content
///   @ ln-footer__content-container
///   @ ln-footer__header
///   @ ln-footer__list
///   @ ln-footer__list__item
///

/// .ln-footer
.ln-footer {
	background: $color-pink;
	bottom: 0;
	display: flex;
	padding: 10rem 19.2rem 10rem;
	z-index: 1;

	/// .ln-footer__content
	&__content {
		> img {
			margin-bottom: $space-xxl;
			width: fit-content;
		}
		
		> p {
			margin-bottom: $space-xxl;
		}

		/// .ln-footer__content-container
		&-container {
			display: flex;
			flex: 1 1 50%;
			justify-content: flex-start;
			padding-right: 10rem;

			&:last-child {
				flex-direction: row;
				justify-content: flex-end;
				padding-right: 0;
			}
		}
	}

	/// .ln-footer__header
	&__heading {
		font-family: 'Hind', sans-serif;
		font-weight: 700;
		font-size: $font-lg;
		margin-bottom: $space-xxl;
		
		> span {
			color: #54d9be;
		}
	}

	/// .ln-footer__list
	&__list {
		@include reset;
		list-style: none;
		padding-right: 5rem;

		/// .ln-footer__list__item
		&__item {
			margin-bottom: $space-xs;
		}
	}

	&__bio {
		align-items: center;
		display: flex;
		margin-bottom: $space-xxl;
		max-width: 50rem;
		min-width: 20rem;
	}
}

/// Mobile
@media only screen and (max-width: 1024px) {
  .ln-footer {
		flex-direction: column;
		padding: 10rem 10rem 10rem;

		&__list {
			padding: 0 0 $space-xxl;
		}

		&__content {

			&-container {
				align-items: center;
				flex-direction: column;
				padding: 0 0 $space-xxl;
				text-align: center;

				&:last-child {
					flex-direction: column;
					padding: 0;
				}
			}
		}
  }
}

@media only screen and (max-width: 1200px) {
	.ln-footer {
		padding: 10rem;
	}
}
