@import '../../required/variables.scss';
@import '../../required/mixins.scss';
@import '../../required/colors.scss';

.footer {
	background: $color-white;
	bottom: 0;
	z-index: 1;
	padding: 2rem 19.2rem 10rem;
}
