@import '../../required/variables.scss';
@import '../../required/colors.scss';

///
/// Url
///
/// Index
/// % ln-url
///   @ -sm
///   @ -jump-down
///   @ -jump-up
///		@ -contrast
/// 
/// Animations
///

/// .ln-url
.ln-url {
	color: $color-gray;
	font-size: $font-md;
	position: relative;
	text-decoration: none;

	/// .ln-url .-sm
	&.-sm {
		font-size: $font-default;
	}

	/// .ln-url .-jump-down
	&.-jump-down {
		text-decoration: none;

		&::before,
		&::after {
			content: none;
		}

		&:hover {
			color: $color-teal;
		}

		> span {
			background: center / cover no-repeat url('../../images/chevron-down.svg');
			display: block;
			height: $space-xl * 2; // 4rem
			width: $space-xl * 2; // 4rem

			&:hover {
				background: center / cover no-repeat url('../../images/chevron-down-hover.svg');
			}
		}
	}

	/// .ln-url .-jump-up
	&.-jump-up {
		bottom: $space-xl * 2; // 4rem
		opacity: 1;
		position: fixed;
		right: $space-xl * 2; // 4rem
		text-decoration: none;

		&::before,
		&::after {
			content: none;
		}

		&:hover {
			color: $color-teal;
		}

		> span {
			background: center / cover no-repeat url('../../images/chevron-up.svg');
			display: block;
			height: $space-xl * 2; // 4rem
			width: $space-xl * 2; // 4rem

			&:hover {
				background: center / cover no-repeat url('../../images/chevron-up-hover.svg');
			}
		}
	}

	/// .ln-url .-contrast
	&.-contrast {
		color: $color-teal;

		&::before,
		&::after {
			content: none;
		}

		&:hover,
		&:focus {
			color: $color-teal;
		}
	}

	&::before {
		background: $color-teal;
		bottom: 0;
		content: '';
		display: inline-block;
		height: $space-xs/2; // 0.2rem
		right: 0;
		margin: 0 0 (-$space-xs);
		position: absolute;
		transition: width 0.2s ease;
		vertical-align: middle;
		width: 0;
	}

	&::after {
    display: block;
    content: attr(title);
    font-weight: bold;
		height: 0;
		margin-top: -0.1rem;
    overflow: hidden;
    visibility: hidden;
	}

	&:hover,
	&:focus {
		color: $color-black;
		font-weight: bold;
		outline: none;

		&::before {
			width: 100%;
			left: 0;
		}
	}

	&.fadeIn {
		animation: fadeIn 250ms linear forwards;
	}

	&.fadeOut {
		animation: fadeOut 250ms linear forwards;
	}
}


/// ANIMATIONS
@keyframes fadeIn {
	from {
		opacity: 0;
	}

  to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	
  to {
		opacity: 0;
	}
}