@import '../../required/variables.scss';
@import '../../required/colors.scss';

///
/// Url
///
/// Index
/// % ln-url
///   @ ln-url--contrast
///   @ ln-url--logo
///   @ ln-url--social
///

/// .ln-url
.ln-url {
	color: $color-gray;
	position: relative;
	text-decoration: none;

	&::before {
		background: $color-teal;
		bottom: 0;
		content: '';
		display: inline-block;
		height: $space-xs/2; // 0.2rem
		right: 0;
		margin: 0 0 (-$space-xs);
		position: absolute;
		transition: width 0.2s ease;
		vertical-align: middle;
		width: 0;
	}

	&::after {
    display: block;
    content: attr(title);
    font-weight: bold;
		height: 0;
		margin-top: -0.1rem;
    overflow: hidden;
    visibility: hidden;
}

	&:hover,
	&.is-hover {
		color: $color-black;
		font-weight: bold;

		&::before {
			width: 100%;
			left: 0;
		}
	}

	/// .ln-url--contrast
	&--contrast {
		color: $color-purple;
	}

	/// .ln-url--logo
	&--logo {
		font-weight: bold;
		letter-spacing: $space-xs/2; // 0.2rem
		text-decoration: none;
	}

	/// .ln-url--social
	&--social {
		color: $color-gray;
		font-size: $space-xxxl;
		margin-right: $space-md;

		&:last-of-type {
			margin-right: 0;
		}

		&::before {
			display: none;
		}

		&:focus {
			color: $color-white;
			outline: none;
		}

		&.is-medium:hover {
			color: #3FF28C;
		}

		&.is-linkedin:hover {
			color: #1174AD;
		}

		&.is-github:hover {
			color: #99D3E8;
		}
	}
}
