@import '../../required/colors.scss';
@import '../../required/variables.scss';
@import '../../required/mixins.scss';

///
/// EmailButon
///
/// Index
/// % ln-btn
///

/// .ln-btn
.ln-btn {
	background: $color-teal;
	border-radius: $font-xl;
	color: $color-black;
	display: inline-block;
	font-family: 'Hind', sans-serif;
	font-size: $font-sm;
	font-weight: 700;
	margin-top: $space-lg;
	position: relative;
	padding: $space-sm $space-xl;
	transition: all 0.2s linear 0s;
	text-decoration: none;
	width: 18rem; 

	&::before {
		align-items: center;
		content: "\1F4E9";
		display: none;
    font-family: FontAwesome;
    font-size: $font-sm;
    position: absolute;
    justify-content: center;
    right: $space-md;
    top: 0;
    opacity: 0;
    height: 100%;
    transition: all 0.2s linear 0s;
	}
	
	&:hover,
	&:focus {
		outline: none;
		text-indent: -1.5rem;
    
    &::before {
			display: flex;
      opacity: 1;
      text-indent: 0px;
    }
  }
}