@import '../../required/variables.scss';
@import '../../required/mixins.scss';
@import '../../required/colors.scss';

///
/// Avatar
///
/// Index
/// % ln-avatar
///   @ ln-avatar__content
///   @ ln-avatar__content-container
///   @ ln-avatar__header
///   @ ln-avatar__list
///   @ ln-avatar__list__item
///

/// .ln-avatar
.ln-avatar {
  width: $space-xxl * 4; // 9.6rem
  height: $space-xxl * 4; // 9.6rem
  background: $color-gray;
  background-position: center;
  background-size: cover;
  border: $space-xs solid $color-white;
  border-radius: 50%;
  flex: 0 0 auto;
  margin-right: $space-xl;
}
