* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

body {
	-webkit-text-size-adjust: none;
}

html, body {
	color: #3A414A;
	height: 100%;
	margin: 0;
	padding: 0;
}

.root {
	background: #FFEEEE;
	position: relative;
}

h1, h2, h3, h4, h5, h6, p, a {
	font-weight: 100;
	padding: 0;
	margin: 0;
}
