@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Hind');

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Nunito', 'Helvetica Neue', Arial, sans-serif;
}

html, body {
	color:#3B4763;
	height: 100%;
	margin: 0;
	padding: 0;
}

.root {
	background: #FFEEEE;
	position: relative;
}

h1, h2, h3, h4, h5, h6, p, a {
	padding: 0;
	margin: 0;
}

a, p {
	font-size: 1.8rem;
}
